* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.btn-animation {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 20px;

    font-weight: bold;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    
    color: #f1f3f5;
    background: linear-gradient(
        /* to right,
        #cc9e4a 0%,
        #f2c775 25%, 
        #fdd180 50%, 
        #f2c775 75%, 
        #cc9e4a 100%); */

        to right,
        #5e8aef 0%,
        #2ac7da 100%);
}

.btn-animation:hover:after {
    position: absolute;
    content: "";
    background-color: #fff;
    opacity: 0.3;
    width: 10px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%) rotate(30deg);
    animation-name: bgmove;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes bgmove {
    0% {
        left: -10px;
    }
    100% {
        left: 105%;
    }
}